#blue {
  background: lightblue;
}

#red {
  background: red;
}

#orange {
  background: orange;
}

#green {
  background-color: green;
}
.intro-section {
  display: inline;
}

#color-display {
  margin-top: 20px; 
}